<div class="container">
    <div class="row justify-content-end mr-4">
        <button class="btn btn-outline-secondary" (click)="create()"><i class="fas fa-add"></i> Create</button>

    </div>
    <h2>Department</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">Phone</th>
                <th scope="col">Description</th>
                <th scope="col">Enterprise</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of lista; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ obj.name }}</td>
                <td>{{ obj.phone }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.enterprise.name }}</td>
                <td>

                    <button class="btn" (click)="update(obj)"><i class="fas fa-edit"></i></button>
                    <button class="btn" (click)="delete(obj)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>