

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    
    //border: 3px solid green; 
    button{
        padding: 20px;
        
    }
  }

  
.ul-vertical {
    
    list-style: none;
    margin: 0;
    padding: 8px;
    display: inline-block;
  }
  .ul-vertical li {
    

    margin: 0;
    padding: 0;
  }
  .ul-vertical li+li {
    margin-top: 50px;
  }

