
<div class="container ">
   
            <h1 class="center text-center p-5  text-warning">Welcome to Sicpa Example Web site</h1>
      
    
    <div class="botones my-3">
        <ul class="ul-vertical">
            <li>

                <button type="button" [routerLink]="['/home/enterprise']" class="btn btn-info btn-lg btn-block">Enterprise</button>
            </li>
            <li>
                <button type="button" [routerLink]="['/home/employee']" class="btn btn-info btn-lg btn-block">Employee</button>
            </li>
            <li>
                <button type="button" [routerLink]="['/home/department']" class="btn btn-info btn-lg btn-block">Department</button>
            </li>
          </ul>
        
        
        
        
    </div>
  </div>
  
